@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #C9D9F8;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* React Flow Controls Styling */
.react-flow__controls {
  background: rgba(123, 164, 244, 0.7) !important;
  border-radius: 8px;
  border: 1px solid rgba(123, 164, 244, 0.1);
}

.react-flow__controls-button {
  background: transparent !important;
  border-bottom: 1px solid rgba(123, 164, 244, 0.1) !important;
  color: white !important;
}

.react-flow__controls-button:hover {
  background: rgba(123, 164, 244, 0.1) !important;
}

.react-flow__controls-button svg {
  fill: white !important;
  stroke: white !important;
}
