@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eeeeee;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.react-flow__controls {
  background: rgba(17, 138, 178, 0.7) !important;
  border-radius: 8px;
  border: 1px solid rgba(17, 138, 178, 0.1);
}

.react-flow__controls-button {
  background: transparent !important;
  border-bottom: 1px solid rgba(17, 138, 178, 0.1) !important;
  color: white !important;
}

.react-flow__controls-button:hover {
  background: rgba(17, 138, 178, 0.1) !important;
}

.react-flow__controls-button svg {
  fill: white !important;
  stroke: white !important;
}

@keyframes slideDownFadeIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.toast-slide-in {
  animation: slideDownFadeIn 0.3s ease-out;
}
